---
title: A Test Blog Post
subtitle: This is a Sub Heading
published: true 
layout: post
tags: [tag, anothertag, test]
img: work-resize.jpg
caption: I&rsquo;m an image caption!
imgattribution: true
imgsrc: Little Visuals
imgsrcurl: http://littlevisuals.co/
---

<p>
	There&rsquo;s a bunch of text in this paragraph because it needs to be quite long.
	<a href="#">I&rsquo;m a link, click me!</a> There&rsquo;s a bunch <a href="#">of text</a> in this paragraph because it needs to be quite long. Here&rsquo;s some JavaScript: <code class="language-javascript">var i = 0;</code> wow lookatdat stylin&rsquo; code.
</p>

<blockquote>
	<p>Ladies and gentlemen, this is your stewardess speaking&hellip; We regret any inconvenience the sudden cabin movement might have caused, this is due to periodic air pockets we encountered. There&rsquo;s no reason to become alarmed and we hope you enjoy the rest of your flight&hellip; By the way, is there anyone on board who knows how to fly a plane?</p>
	<footer>
		<cite>
			<p>Elaine Dickinson - Airplane!</p>
		</cite>
	</footer>
</blockquote>

<div class="blog-img">
	<a class="blog-img-link" href="{{ "21-3-14-code-test-page.png" | asset_url }}" alt="A Snippet of my CSS test page" title="Click for big">
		<img src="{{ "21-3-14-code-test-page-cropped.png" | asset_url }}" />
	</a>
	<span class="blog-img-caption">A snippet of my CSS test page</span>
</div>

<pre class="line-numbers"><code class="language-css">a, a:visited {
	color: #FF4136;
	text-decoration: none;
	padding: 0 0.25em;
}

a:hover {
	background: #FF4136;
	color: #fff;
}

.wrapper {
	padding: 1em;
	width: 90%;
	margin: 1em auto;
	max-width: 57em;
}

.content-wrapper {
	max-width: 80%;
	margin: 1em 0 0 25%;
	padding: 0.5em 1em 1em 1em;
	border-left: 1px solid #ddd;
}</code></pre>

<ol>
	<li><p>You can see how I lived before I met you.</p></li>
	<li><p>But I&rsquo;ve never been to the moon!</p></li>
	<li><p>I don&rsquo;t know what you did, Fry, but once again, you screwed up! Now all the planets are gonna start cracking wise about our mamas.</p></li>
	<li><p>File not found.</p></li>
	<li><p>Who are you, my warranty?!</p></li>
</ol>

<p>There&rsquo;s a bunch of text in this paragraph because it needs to be quite long. There&rsquo;s a bunch of text in this paragraph because it needs to be quite long. There&rsquo;s a bunch of text in this paragraph because it needs to be quite long. There&rsquo;s a bunch of text in this paragraph because it needs to be quite long. There&rsquo;s a bunch of text in this paragraph because it needs to be quite long. There&rsquo;s a bunch of text in this paragraph because it needs to be quite long. There&rsquo;s a bunch of text in this paragraph because it needs to be quite long. There&rsquo;s a bunch of text in this paragraph because it needs to be quite long.</p>

<ul>
<li><p>Who are you, my warranty?!</p></li>
<li><p>You can see how I lived before I met you.</p></li>
<li><p>I don&rsquo;t know what you did, Fry, but once again, you screwed up! Now all the planets are gonna start cracking wise about our mamas.</p></li>
<li><p>File not found.</p></li>
</ul>

<img src="{{ "pint-thumb.jpg" | asset_url }}" class="blog-img left" width="150px"/>

<h2>Hell Is Other Robots</h2>
<p>I am Singing Wind, Chief of the Martians. File not found. WINDMILLS DO NOT WORK THAT WAY! GOOD NIGHT!</p>
<img src="{{ "pint-thumb.jpg" | asset_url }}" class="blog-img right" width="250px"/>
<h3>War Is the H-Word</h3>
<p>Hey, guess what you&rsquo;re accessories to. I don&rsquo;t want to be rescued. Isn&rsquo;t it true that you have been paid for your testimony? But I&rsquo;ve never been to the moon! Oh, but you can. But you may have to metaphorically make a deal with the devil.  And by "devil", I mean Robot Devil.  And by "metaphorically", I mean get your coat. Bender, this is Fry&rsquo;s decision&hellip; and he made it wrong. So it&rsquo;s time for us to interfere in his life.</p>