---
title: A Test Blog Post
published: true
layout: post
tags: [tag, anothertag, test, blog]
img: work-resize.jpg
caption: I'm an image caption!
imgattribution: true
imgsrc: Little Visuals
imgsrcurl: http://littlevisuals.co/
---
<h2>This is a Sub Heading</h2>
<p>
	There's a bunch of text in this paragraph because it needs to be quite long.
	<a href="#">I'm a link, click me!</a> There's a bunch <a href="#">of text</a> in this paragraph because it needs to be quite long. 
</p>

<blockquote>
	<p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
	<footer>
		<cite>
			<a href="http://www.worldwildlife.org/who/index.html">http://www.worldwildlife.org/who/index.html</a>
		</cite>
	</footer>
</blockquote>

<ol>
	<li><p>File not found.</p></li>
	<li><p>I don't know what you did, Fry, but once again, you screwed up! Now all the planets are gonna start cracking wise about our mamas.</p></li>
	<li><p>File not found.</p></li>
	<li><p>You can see how I lived before I met you.</p></li>
	<li><p>Who are you, my warranty?!</p></li>
</ol>

<p>There's a bunch of text in this paragraph because it needs to be quite long. There's a bunch of text in this paragraph because it needs to be quite long. There's a bunch of text in this paragraph because it needs to be quite long. There's a bunch of text in this paragraph because it needs to be quite long. There's a bunch of text in this paragraph because it needs to be quite long. There's a bunch of text in this paragraph because it needs to be quite long. There's a bunch of text in this paragraph because it needs to be quite long. There's a bunch of text in this paragraph because it needs to be quite long.</p>

<ul>
<li><p>Who are you, my warranty?!</p></li>
<li><p>You can see how I lived before I met you.</p></li>
<li><p>I don't know what you did, Fry, but once again, you screwed up! Now all the planets are gonna start cracking wise about our mamas.</p></li>
<li><p>File not found.</p></li>
</ul>

<img src="{{ "pint-thumb.jpg" | asset_url }}" class="blog-img left" width="150px"/>

<h2>Hell Is Other Robots</h2>
<p>I am Singing Wind, Chief of the Martians. File not found. WINDMILLS DO NOT WORK THAT WAY! GOOD NIGHT!</p>
<img src="{{ "pint-thumb.jpg" | asset_url }}" class="blog-img right" width="250px"/>
<h3>War Is the H-Word</h3>
<p>Hey, guess what you're accessories to. I don't want to be rescued. Isn't it true that you have been paid for your testimony? But I've never been to the moon! Oh, but you can. But you may have to metaphorically make a deal with the devil.  And by "devil", I mean Robot Devil.  And by "metaphorically", I mean get your coat. Bender, this is Fry's decision&hellip; and he made it wrong. So it's time for us to interfere in his life.</p>