---
title: A Test Blog Post
published: true
layout: post
tags: [tag, anothertag, test, blog]
---
<h2>The Route of All Evil</h2>
<p>Now that the, uh, garbage ball is in space, Doctor, perhaps you can help me with my sexual inhibitions? Have you ever tried just turning off the TV, sitting down with your children, and hitting them? Ow, my spirit! What are their names? Well, then good news! It's a suppository. Oh, you're a dollar naughtier than most.</p>
<h2>Hell Is Other Robots</h2>
<p>I am Singing Wind, Chief of the Martians. File not found. WINDMILLS DO NOT WORK THAT WAY! GOOD NIGHT!</p>
<ul>
<li>Who are you, my warranty?!</li>
<li>You can see how I lived before I met you.</li>
<li>I don't know what you did, Fry, but once again, you screwed up! Now all the planets are gonna start cracking wise about our mamas.</li>
<li>File not found.</li>
</ul>
<h3>War Is the H-Word</h3>
<p>Hey, guess what you're accessories to. I don't want to be rescued. Isn't it true that you have been paid for your testimony? But I've never been to the moon! Oh, but you can. But you may have to metaphorically make a deal with the devil.  And by "devil", I mean Robot Devil.  And by "metaphorically", I mean get your coat. Bender, this is Fry's decision&hellip; and he made it wrong. So it's time for us to interfere in his life.</p>