---
layout: post
title: Hia
tags: [example,test]
published: true
date: 2014-03-18 12:01
---

<h1>Brannigan, Begin Again</h1>
<p>With a warning label this big, you know they gotta be fun! I haven't felt much of anything since my guinea pig died. Have you ever tried just turning off the TV, sitting down with your children, and hitting them? Shinier than yours, meatbag. Can I use the gun?</p>
<h2>Love and Rocket</h2>
<p>Just once I'd like to eat dinner with a celebrity who isn't bound and gagged. Kif might! I'll tell them you went down prying the wedding ring off his cold, dead finger. What are their names? No, she'll probably make me do it.</p>
<ul>
<li>Oh, you're a dollar naughtier than most.</li>
<li>That's not soon enough!</li>
</ul>
<h3>The 30% Iron Chef</h3>
<p>Please, Don-Bot&hellip; look into your hard drive, and open your mercy file! You don't know how to do any of those. Oh, you're a dollar naughtier than most. Ow, my spirit! It's okay, Bender. I like cooking too.</p>