---
title: A Post
published: true
layout: post
---
<h1>Where the Buggalo Roam</h1>
<p>Hey, you add a one and two zeros to that or we walk! I had more, but you go ahead. WINDMILLS DO NOT WORK THAT WAY! GOOD NIGHT! Shinier than yours, meatbag. That could be 'my' beautiful soul sitting naked on a couch. If I could just learn to play this stupid thing.</p>
<h2>Three Hundred Big Boys</h2>
<p>You can crush me but you can't crush my spirit! No! Don't jump! When the lights go out, it's nobody's business what goes on between two consenting adults. Why would a robot need to drink?</p>
<ul>
<li>I am the man with no name, Zapp Brannigan!</li>
<li>I don't know what you did, Fry, but once again, you screwed up! Now all the planets are gonna start cracking wise about our mamas.</li>
</ul>
<h3>Lethal Inspection</h3>
<p>What are their names? Maybe I love you so much I love you no matter who you are pretending to be. There's no part of that sentence I didn't like! I've been there. My folks were always on me to groom myself and wear underpants. What am I, the pope?</p>