---
layout: post
title: Hisgsdgfsdf
tags: [example,test,what]
published: true
date: 2014-03-18 12:23
---

<h1>A Fishful of Dollars</h1>
<p>Now that the, uh, garbage ball is in space, Doctor, perhaps you can help me with my sexual inhibitions? I guess because my parents keep telling me to be more ladylike. As though! We're also Santa Claus! Bender, this is Fry's decision&hellip; and he made it wrong. So it's time for us to interfere in his life.</p>
<h2>Where the Buggalo Roam</h2>
<p>Oh, you're a dollar naughtier than most. Fry, we have a crate to deliver. You lived before you met me?! Calculon is gonna kill us and it's all everybody else's fault! Okay, I like a challenge.</p>
<ul>
<li>I had more, but you go ahead.</li>
<li>WINDMILLS DO NOT WORK THAT WAY! GOOD NIGHT!</li>
<li>Just once I'd like to eat dinner with a celebrity who isn't bound and gagged.</li>
</ul>
<h3>The Mutants Are Revolting</h3>
<p>There's one way and only one way to determine if an animal is intelligent. Dissect its brain! Or a guy who burns down a bar for the insurance money! Hey, guess what you're accessories to. Now, now. Perfectly symmetrical violence never solved anything. Yep, I remember. They came in last at the Olympics, then retired to promote alcoholic beverages! I guess because my parents keep telling me to be more ladylike. As though!</p>