---
title: a
published: true
layout: post
---
<h1>Bender Should Not Be Allowed on TV</h1>
<p>Fry! Quit doing the right thing, you jerk! I don't want to be rescued. You can see how I lived before I met you. Oh, you're a dollar naughtier than most. I don't know what you did, Fry, but once again, you screwed up! Now all the planets are gonna start cracking wise about our mamas. Hey, guess what you're accessories to.</p>
<h2>That's Lobstertainment</h2>
<p>Hey, guess what you're accessories to. There's one way and only one way to determine if an animal is intelligent. Dissect its brain! Well, then good news! It's a suppository. No, she'll probably make me do it.</p>
<ul>
<li>Ugh, it's filthy! Why not create a National Endowment for Strip Clubs while we're at it?</li>
<li>Hey, you add a one and two zeros to that or we walk!</li>
</ul>
<h3>The Farnsworth Parabox</h3>
<p>You can crush me but you can't crush my spirit! Yeah, I do that with my stupidness. Isn't it true that you have been paid for your testimony? Fry, we have a crate to deliver. Tell them I hate them. Ugh, it's filthy! Why not create a National Endowment for Strip Clubs while we're at it?</p>