---
layout: post
title: Hisdffds
tags: [example,what]
published: true
date: 2014-03-18 12:20
---

<h1>Mars University</h1>
<p>I just want to talk. It has nothing to do with mating. Fry, that doesn't make sense. I am the man with no name, Zapp Brannigan! It's okay, Bender. I like cooking too. Well, then good news! It's a suppository. Oh, but you can. But you may have to metaphorically make a deal with the devil.  And by "devil", I mean Robot Devil.  And by "metaphorically", I mean get your coat. Why would a robot need to drink?</p>
<h2>I, Roommate</h2>
<p>Who are you, my warranty?! Who said that? SURE you can die! You want to die?! I had more, but you go ahead. I am Singing Wind, Chief of the Martians.</p>
<ul>
<li>What are their names?</li>
<li>That's not soon enough!</li>
<li>Ven ve voke up, ve had zese wodies.</li>
</ul>
<h3>A Tale of Two Santas</h3>
<p>I don't know what you did, Fry, but once again, you screwed up! Now all the planets are gonna start cracking wise about our mamas. Ven ve voke up, ve had zese wodies. No, she'll probably make me do it.</p>