<!doctype html>
<html lang="en">
	<head>

		<title>{% block title %}Joe Haines{% endblock %}</title>
		
		{% include "_head" %}

		{% block styles %}{% endblock %}
	</head>
	<body>
		<div class="wrapper">
			<!-- Include -->
			{% include "header" %}
			
			<!-- Content block, child page inject content -->
			<div class="content-wrapper">
				{% block content %}{% endblock %}

			</div>
			{% include "footer" %}
		</div>
		{% block scripts %}{% endblock %}
	</body>
</html>