<!doctype html>
<html lang="en">
    <head>

        <title>{% block title %}Joe Haines{% endblock %}</title>
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

        {{ "normalize.css" | asset_url | stylesheet_tag }}
        {{ "layout.css" | asset_url | stylesheet_tag }}
        {{ "media-queries.css" | asset_url | stylesheet_tag }}

        {% block styles %}{% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <!-- Include -->
            {% include "header" %}
            
            <!-- Content block, child page inject content -->
            {% block content %}{% endblock %}

        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>