<!doctype html>
<html lang="en">
    <head>

        <title>{% block title %}Empty{% endblock %}</title>
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{ "normalize.css" | asset_url | stylesheet_tag }}
        {{ "layout.css" | asset_url | stylesheet_tag }}
        {{ "media-queries.css" | asset_url | stylesheet_tag }}

        {% block styles %}{% endblock %}
    </head>
    <body>
        <div class="wrapper">
            {% include "header" %}

            <article class="content-wrapper">
                {% block content %}{% endblock %}
            </article>

        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>