      <ul class="blog-preview">
      {% for post in collection.items %}
	
	        <li class="blog-post">
	            <h2><a href="{{ post.slug }}">{{ post.title }}</a></h2>
	            
	            <span class="date">{{ post.date | date: "%A, %B %d, %Y" }}</span>
				
				<ul class="tags">
					{% for tag in post.tags %}
						{% include "tagination" %}
					{% endfor %}
				</ul>

	            <p class="preview">{% include post-preview %}</p>
	        </li>

      {% endfor %}
      </ul>

{% include pagination %}
