      <ul class="blog-preview">
      {% for post in collection.items %}
	
	        <li class="blog-post">
	            <h2><a href="{{ post.slug }}">{{ post.title }}</a></h2>
	            
	            <span class="date">{{ post.date | date: "%A, %B %d, %Y" }}</span>
				
				{% if post.tags %}
					<ul class="tags">
	                    <li>tags:</li>
						{% for tag in post.tags %}
							{% include "tagination" %}
						{% endfor %}
					</ul>
				{% else %}
					<ul class="tags">
	                    <li>no tags</li>
	                </ul>
				{% endif %}

	            <p class="preview">{% include post-preview %}</p>
	        </li>

      {% endfor %}
      </ul>

{% include pagination %}
