<header class="main-head">

	<nav>
		<ul>
			<li>
				<a href="/"><h1>{{ global.title }}</h1>
				About</a>
			</li>
			<li>
				<a href="/blog/page-1">Blog</a>
			</li>
			<li>
				<a href="/archive">Archive</a>
			</li>
		</ul>
	</nav>
	
</header>