<header>
	<h1><a href="/">{{ global.title }}</a></h1>
	
	<nav>
		<ul>
			<li>
				<a href="/">About</a>
			</li>
			<li>
				<a href="#">Portfolio</a>
			</li>
			<li>
				<a href="/blog-page-1">Blog</a>
			</li>
			<li>
				<a href="#">CV</a>
			</li>
		</ul>
	</nav>
</header>