* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 100%;
	font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
	color: #333;
}

body, h1, h2, h3, h4, h5, h6 {
	font-size-adjust: 0.5;
}

body, h1,h2,h3,h4,h5,h6,p,li {
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	font-family: Calibri, Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
}

p {
	font-size: 1.25em;
	margin-bottom: 1.5em;
	line-height: 1.5;
}

section, article, aside, header, footer, nav, figure, figcaption {
	display: block;
}

img {
	max-width: 100%;
}

abbr {
	border-bottom: 1px dotted #FE3882;
	cursor: help;
}

li > p {
	margin-bottom: 0.5em;
}

blockquote {
	padding: 0;
	margin: 0;
}

blockquote > p {
	margin-bottom: 0.5em;
}

figure {
	margin: 0;
	padding: 0;
}	

ul {
	margin: -1em 0 1em 0;
}

sup {
	vertical-align: top;
}
/* e52e2f */

a, a:visited {
	color: #e52e2f;
	text-decoration: none;
	padding: 0 0.25em;
}

a:hover {
	color: #8c1112;
}

a:active {
	position: relative;
	top: 1px; 
}

a .date:hover {
	color: #333;
}

.wrapper {
	padding: 1em;
	width: 90%;
	margin: 1em auto;
	max-width: 57em;
}

.content-wrapper {
	max-width: 80%;
	margin: 1em 0 0 25%;
	padding: 0.5em 1em 0 1em;
	border-left: 1px solid #ddd;
	overflow: hidden;
}

footer.main-foot {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid #ddd;
	overflow: hidden;
	font-size: 0.8em;
	clear: both;
}

footer.main-foot p {
	margin-bottom: 0;
	font-size: 1.2em;
	color: #666;
}
footer.main-foot p a {
	margin-left: -0.25em;
}

footer.main-foot section {
	width: 33%;
	float: left;
	display: inline-block;
	padding: 1em;
}

header.main-head {
	width: 22.5%;
	margin: 0;
	padding: 1em 0 0 1em;
	text-align: right;
	float: left;
}

header.main-head h1 {
	font-size: 2em;
	color: #333;
}

header.main-head a:hover {
	background: #fef3f3;
}

footer.main-foot a:hover {
	background: #fef3f3;
}

header.main-head a:hover h1 {
	color: #b11617;
}


a.face-link {
	background: none;
	padding: 0;
}

nav ul {
	font-family: Calibri, Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 1.25em;
}

nav li a {
	padding: 0.5em 1em 0.5em 0;
	display: block;
}

ul.blog-preview {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.blog-preview h2 {
	margin-bottom: 0;
}

ul.blog-preview h2 a {
	margin: 0 -0.25em;
}

section.blog-preview h2 {
	font-size: 1.25em;
}

.blog-post {
	margin-bottom: 1.5em;
}

.date {
	font-size: 1em;
	float: right;
	color: #666;
	font-family: Calibri, Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pagination {
	margin-top: 1em;
	font-family: Calibri, Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.15em;
	display: block;
	text-align:center;
}

.pagination a:first-child {
	float: left;
	margin-left: -0.25em;
}
.pagination a:last-child {
	float: right;
	margin-right: -0.25em;
}

ul.tags {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-family: Calibri, Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul.tags li {
	display: inline;
}

ul.tags li:first-child {
	margin-left: -0.25em;
}

header.blog-head {
	padding-bottom: 1em;
	margin-bottom: 0.5em;
	border-bottom: 1px solid #ddd;
	position: relative;
}


header.blog-head h1, header.blog-head h2, header.blog-head h3 , header.blog-head p:last-child {
	margin-bottom: 0;
}



.portfolio-img {
	max-width: 10em;
}

figure.blog-img div {
	overflow: hidden;
	height: 15em;
    text-align: center;
    margin: 1em 0;
    position: relative;
}

figure.blog-img img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}


figure.blog-img figcaption {
	position: absolute;
	padding: 0.25rem 0.5rem;
	bottom: 0;
	background: white;
	background: rgba(255,255,255, 0.75)
}

figure.blog-img figcaption span.divider {
	margin-left: 0.5em;
}

div.blog-img {
	text-align: center;
	margin-bottom: 1.5em;
}

div.blog-img a {
	padding:0;
	background: none;
}

div.blog-img img {
	margin: 0 auto;
	display: inline-block;
}

span.blog-img-caption {
	color: #555;
	display: inline-block;
}

.blog-content h2, h3, h4 {
	margin-bottom: 0.5em;
}

.blog-content p a {
	margin: 0 -0.25em;
}

.blog-content ul {
	clear: both;
}

blockquote {
	margin: 0 0 1.5em 0;
	padding: 1em 1.5em;
	border-left: 5px solid #ddd;
	background: #f9f9f9;
	overflow: hidden;
}

blockquote::before {
	content: "\201C";
	font-size: 3.75em;
	vertical-align: -0.3em;
	line-height: 0;
	color: #aaa;
}
blockquote p:first-child {
	display: inline;
	padding-bottom: 0.5em;
}
blockquote > p:last-of-type::after {
	content: "\201D";
	font-size: 3em;
	margin-left: 0.1em;
	vertical-align: -0.3em;
	line-height: 0;
	color: #aaa;
}
blockquote footer {
	float: right;
	padding-top: 0.5em;
	margin-top: 0.5em;
	font-size: 0.9em;
	color: #666;
}

pre {
	background: #272822;
	color: #fff;
	padding: 1.5em 0;
}

.cv-date {
	font-size: 1.25em;
	font-weight: normal;
	display: block;
	font-size: 1em;
	color: #444;
	margin-top: -0.5em;
	margin-bottom: 1.5em;
}

a.disabled {
	color: #aaa;
	border: none;
}

a.disabled:hover {
	color: #aaa;
	background: white;
	cursor: default;
	border: none;
}

ul.archive {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
	overflow: hidden;
	margin-left: -0.25em;
}
ul.archive li {
	font-size: 1.25em;
	overflow: hidden;
}

ul.attribution {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
}
ul.attribution li {
	margin-bottom: 1em;
}
ul.attribution h3, ul.attribution p {
	margin: 0;
}
ul.attribution a {
	margin-left: -0.25em;
}

.left {
	float: left;
	margin: 0.5em 1em 0.5em 0;
}
.right {
	float: right;
	margin: 0.5em 0 0.5em 1em;
}
@font-face {
	font-family: 'icon-font';
	src: url('../font/icon-font.eot?20492618');
	src: url('../font/icon-font.eot?20492618#iefix') format('embedded-opentype'),
			 url('../font/icon-font.woff?20492618') format('woff'),
			 url('../font/icon-font.ttf?20492618') format('truetype'),
			 url('../font/icon-font.svg?20492618#icon-font') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'icon-font';
		src: url('../font/icon-font.svg?20492618#icon-font') format('svg');
	}
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "icon-font";
	font-style: normal;
	font-weight: normal;
	speak: none;
 
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */
 
	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
		 
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
 
	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;
 
	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */
 
	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mail:before { content: '\40'; } /* '@' */
.icon-archive:before { content: '\61'; } /* 'a' */
.icon-rss:before { content: '\72'; } /* 'r' */
.icon-blog:before { content: '\62'; } /* 'b' */
.icon-dribbble:before { content: '\64'; } /* 'd' */
.icon-github:before { content: '\67'; } /* 'g' */
.icon-twit:before { content: '\74'; } /* 't' */
.icon-none:before { content: ' '; }
@media (max-width: 700px) {
	html {
		font-size: 90%;
	}
	
	header.main-head {
		float: none;
		width: 100%;
		padding-bottom: 0;
		overflow: hidden;
		text-align: center;
	}

	header.main-head h1 {
		padding: 0;
	}

	header.main-head img {
		max-height: 5em;
		float: left;
	}
	
	nav ul, nav li {
		overflow: hidden;
	}

	.main-head nav li {
		margin: 0;
		float: left;
		min-width: 20%
	}
	
	.main-head nav li a {
		min-height: 5em;
		padding-top: 2em;
		padding-left: 1em;
		border: none;
	}

	nav li:first-child a {
		padding-top: 0.5em;
	}


	.content-wrapper {
		width: 100%;
		max-width: 100%;
		margin: 1em 0;
		border: none;
	}

	nav li a.active {
		border-bottom: 1px solid #FE3882;
		border-right: none;
	}

	figure.blog-img div {
		height: 10em;
	}

	footer.main-foot section {
		font-size: 1.1em;
		width: 50%;
	}
	footer.main-foot section:last-child {
		width: 100%;
	}


}

@media (max-width: 500px) {
	html {
		font-size: 80%;
	}

	header.main-head img {
		display: none;
	}

	.main-head nav li {
		width: 50%;

	}

	.main-head nav li a {
		min-height: 100%;
		padding-top: 0.5em;
	}

	.main-head nav li:first-child {
		width: 100%;
		float:none;
	}

	.date {
		float: none;
	}

	footer.main-foot section {
		width: 100%;
		float: none;
	}


}
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;

	-moz-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: 1.5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol {
	color: #f92672;
}

.token.boolean,
.token.number{
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
	color: #a6e22e;
}


.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value
{
	color: #e6db74;
}


.token.keyword{
color: #66d9ef;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}

pre.line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre.line-numbers > code {
	position: relative;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid #999;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

	.line-numbers-rows > span {
		pointer-events: none;
		display: block;
		counter-increment: linenumber;
	}

		.line-numbers-rows > span:before {
			content: counter(linenumber);
			color: #999;
			display: block;
			padding-right: 0.8em;
			text-align: right;
		}







