/*

BLUE
#FF4136

GREEN
#FF4136

YELLOW
#FFDC00

ORANGE
#FF4136

RED
#FF4136

SILVER
#DDDDDD

GRAY
#AAAAAA

BLACK
#111111

*/

a, a:visited {
	color: #FF4136;
	text-decoration: none;
	padding: 0 0.25rem;
}

a:hover {
	background: #FF4136;
	color: #fff;

}

.wrapper {
	padding: 1rem;
	width: 90%;
	margin: 1rem auto;
	max-width: 57rem;
}

.content-wrapper {
	max-width: 80%;
	margin: 1rem 0 0 25%;
	padding: 0.5rem 1rem 1rem 1rem;
	border-left: 1px solid #ddd;
}


header.main-head {
	width: 22.5%;
	margin: 0;
	padding: 1rem 0 0 1rem;
	text-align: right;
	float: left;
}

header.main-head h1 {
	font-size: 2rem;
}


a.face-link {
	background: none;
	padding: 0;
}

a.face-link img {
	max-width: 149px;
}


nav ul {
	font-family: Calibri, Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 1.25rem;
}

nav li a {
	padding: 0.5rem 1rem;
	display: block;
	border-right: 5px solid transparent;

}

nav li a.active {
	border-right: 5px solid #FF4136;
}

ul.blog-preview {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.blog-preview li {
	margin-bottom: 2rem;
}

ul.blog-preview h2 {
	margin-bottom: 0.5rem;
}

.date {
	font-size: 1rem;
	float: right;
	color: #666;
}

.blog-post {
	padding: 0.25rem 0;
	background: #fdfdfd;
}

.pagination {
	color: #444;
	margin-top: 1rem;
	font-family: Calibri, Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul.tags {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-family: Calibri, Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul.tags li {
	float: left;
	margin-bottom: 0.5rem;
}

h1.tag-header, span.date {
	font-family: Calibri, Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header.blog-head {
	overflow: hidden;
	padding-bottom: 1rem;
	margin-bottom: 0.5rem;
	border-bottom: 1px solid #ddd;
	position: relative;
}

header.blog-head span.date{
	position: absolute;
	bottom: 0.5rem;
	right: 0;
}


h1.blog-title {
	float: left;
}


.portfolio-img {
	max-width: 10rem;
}

figure.blog-img {
	overflow: hidden;
	height: 15rem;
    text-align: center;
    margin: 1rem 0;
    position: relative;
}

.blog-img img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.blog-img figcaption {
	position: absolute;
	padding: 0.25rem 0.5rem;
	bottom: 0;
	background: white;
	background: rgba(255,255,255, 0.75)
}

.blog-img figcaption span {
	margin-left: 0.5rem;
	padding-left: 0.5rem;
	border-left: 1px solid #aaa;
}

.blog-img figcaption span a {
	background: white;
}
.blog-img figcaption span a:hover {
	background: #FF4136;
}

.blog-content h2, h3, h4 {
	margin-bottom: 0.5rem;
	font-weight: bold;
}

.blog-content p {
	margin-bottom: 0.5rem;
	line-height: 1.5;
}

.blog-content ul {
	clear: both;
}

.blog-content ul.tags {
	margin-top: 1rem;
	margin-bottom: 2rem;
	padding-top: 0.5rem;
	border-top: 1px solid #ddd;
}


a.disabled {
	color: #aaa;
	border: none;
}

a.disabled:hover {
	color: #aaa;
	background: white;
	cursor: default;
	border: none;
}



.left {
	float: left;
	margin: 0.5rem 1rem 0.5rem 0;
}
.right {
	float: right;
	margin: 0.5rem 0 0.5rem 1rem;
}




















































































































































































































































































































































































































































































