@media (max-width: 700px) {
	html {
		font-size: 90%;
	}
	
	header.main-head {
		float: none;
		width: 100%;
		padding-bottom: 0;
		overflow: hidden;
		text-align: center;
	}

	header.main-head h1 {
		padding: 0;
	}

	header.main-head img {
		max-height: 5em;
		float: left;
	}
	
	nav ul, nav li {
		overflow: hidden;
	}

	.main-head nav li {
		margin: 0;
		float: left;
		min-width: 20%
	}
	
	.main-head nav li a {
		min-height: 5em;
		padding-top: 2em;
		padding-left: 1em;
		border: none;
	}

	nav li:first-child a {
		padding-top: 0.5em;
	}


	.content-wrapper {
		width: 100%;
		max-width: 100%;
		margin: 1em 0;
		border: none;
	}

	nav li a.active {
		border-bottom: 1px solid #FE3882;
		border-right: none;
	}

	figure.blog-img div {
		height: 10em;
	}

	footer.main-foot section {
		font-size: 1.1em;
		width: 50%;
	}
	footer.main-foot section:last-child {
		width: 100%;
	}


}

@media (max-width: 500px) {
	html {
		font-size: 80%;
	}

	header.main-head img {
		display: none;
	}

	.main-head nav li {
		width: 50%;

	}

	.main-head nav li a {
		min-height: 100%;
		padding-top: 0.5em;
	}

	.main-head nav li:first-child {
		width: 100%;
		float:none;
	}

	.date {
		float: none;
	}

	footer.main-foot section {
		width: 100%;
		float: none;
	}


}