* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 100%;
	font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
	color: #333;
}

body, h1, h2, h3, h4, h5, h6 {
	font-size-adjust: 0.5;
}

body, h1,h2,h3,h4,h5,h6,p,li {
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	font-family: Calibri, Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
}

p {
	font-size: 1.25em;
	margin-bottom: 1.5em;
	line-height: 1.5;
}

img {
	max-width: 100%;
}

abbr {
	border-bottom: 1px dotted #FE3882;
	cursor: help;
}

li > p {
	margin-bottom: 0.5em;
}

blockquote {
	margin: 0 1.5em 1.5em 1.5em;
	padding: 1em 1.5em;
	border-left: 5px solid #ddd;
	background: #f9f9f9;
	overflow: hidden;
}

blockquote > p {
	margin-bottom: 0.5em;
}

blockquote > p:last-child {
	margin-bottom: 0;
}

figure {
	margin: 0;
	padding: 0;
}	





















































































