---
title: INTPROG Coursework
published: true
layout: portfolio-item
category: [programming, python]
language: python
img: intprogcw.png
---
<h1><abbr title="Introduction to Programming">INTPROG</abbr> Python Coursework</h1>

<p>For this piece of coursework we had to create a program that would output a patchwork pattern using <a href="http://mcsp.wartburg.edu/zelle/python/">John Zelle's graphics.py module</a>.</p>
<p>My solution is 102 lines of code (not counting comments or empty lines) and recieved a grade of 31/40.</p>

<img src="{{ "intprogcw.png" | asset_url }}" />

<p>Feel free to <a href="files/JoeHainesPatchworkSampler.py">download my program</a> (as a .py file) to try yourself. Make sure to download and install <a href="http://mcsp.wartburg.edu/zelle/python/">John Zelle's graphics.py module</a> as well or it will not run.</p>
