{% block content %} 
	{% if mixture.route.tag %}
		<h1>#{{ mixture.route.tag }}</h1>
		{% assign blogpage = false %}
		{% assign tagpage = mixture.route.tag %}
	{% else %}
			{% assign blogpage = true %}
	{% endif %}

	{% collection "blog"  query "tags={{ mixture.route.tag }}" by 5 order desc %}
	
		{% include "blog-preview" with blog.items %}

	{% endcollection %}
{% endblock %}