{% block content %} 
	<header class="blog-head">
		<h1>Joe Haines</h1>
		<h3>Curriculum Vitæ</h3>
	</header>

	<h2>Employment</h2>
	
	<h3>Training Reference</h3>
	<span class="cv-date">2009-present</span>

	<p>I have been involved in numerous tasks for Training Reference ranging from handling customers to writing bespoke software solutions.</p>
	<p>These tasks included:</p>
	<ul>
		<li><p>Developing a set of PHP pages for online newsletter subscriptions saving the expense of having this hosted remotely.</p></li>
		<li><p>Developing a Customer Relationship Management system in Visual Basic 6 to help the business manage advertising sales more effectively.</p></li>
		<li><p>Researching competitor advertising rates and visitor numbers for a new marketing campaign to generate additional advertising revenue.</p></li>
		<li><p>Carrying out research to identify ideal placement of advertisements.</p></li>
		<li><p>Working as part of a project team tasked with creating a website for a new online venture.</p></li>
	</ul>


{% endblock %}